body {
	background-color: #023;
	background-image: url("bg.png");
	color: #bed;
	padding-top: 1rem;
	font-family: 'Atkinson Hyperlegible';
	text-align: justify;
	text-shadow: 1px 0px 1px black;
	margin: 10px auto;
}

a:link {
	color: #3deadf;
}

a:visited {
	color: #2ba5ed;
}

/*
h2 {
	border-right-width: 2px;
	border-left-width: 2px;
	border-radius: 5px;
	border-color: #2ba5ed;
	width: max-content;
}*/
.markdown-body h3 {
	margin-bottom: 0.5rem;
}

.markdown-body p,
.markdown-body h4 {
	max-width: 1200px;
}

.markdown-body p {
	text-align: justify;
	margin: 0.5rem 0;
}

.markdown-body hr {
	margin: 1rem 9rem;
	border-radius: 5px;
	border-color: #2ba5ed;
	border-width: 2px;
	min-height: 5px;
	max-width: 1200px;
	border-style: solid;
}

.markdown-body hr.top {
	border-top-width: 0;
}

.markdown-body hr.bot {
	border-bottom-width: 0;
}

.markdown-body .cols {
	display: flex;
	margin: 0.5rem 0rem;
	max-width: 1200px;
}

.markdown-body .cols>h3 {
	float: left;
	width: 15%;
	margin: auto 1rem;
	position: relative;
	top: 50%;
	text-align: right;
}

.markdown-body .cols>p,
.markdown-body .cols>h4 {
	margin: 0.25rem 0;
	width: 85%;
	vertical-align: middle;
	text-align: left;
}

.markdown-body .cols:after {
	content: "";
	display: table;
	clear: both;
}